.create-comment-container {
  margin-bottom: 20px;
  margin-top: 20px;
}
.create-comment-container h3 {
  font-size: 24px;
}
.create-comment-container button {
  margin-top: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px 16px;
  background: green;
  color: white;
  cursor: pointer;
}
